body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, p, blockquote, form, th, td { font-style: normal; font-weight: normal; margin: 0; padding: 0; }
html.loading { opacity: 0.3; }
body { font-family: Verdana,Arial,sans-serif; line-height: 1.3; background-color: #fff; margin: 5px; }
#seens { font-size: 80%; }
table { width: 100%; margin: 5px auto; border-collapse: collapse; }
table caption { text-align: left; }
th { padding: 2px 4px 2px 4px; border: solid 1px #737373; text-align: left; font-weight: normal; background-color: #cfcfcf; }
th.decsription { width: 60%; }
th.tags,
th.time { width: 20%; }
td { padding: 2px 4px 2px 4px; border: solid 1px #737373; background-color: #fff; }
tr>th:first-child,
tr>td:first-child { padding: 1px; }
tr.focus>td { background-color: #efefef; }
tr.focus>td:first-child { background-color: #737373; }
td p { padding: 4px 2px 2px 6px; overflow: hidden; line-height: 1.2em; max-height: 3.6em; }
.pagination li { display: inline-block; padding: 2px; }
.pagination li.disabled { opacity: 0.5; }
.pagination li.active a { text-decoration: none; font-weight: bold; }
.paginationTop { float: right; }
.paginationTop li { padding-bottom: 5px; }
.paginationTop li:not(.prev):not(.next) { display: none; }
.paginationBottom { text-align: center; }
img { vertical-align: middle; border: none; }
